.wrapper {
  width: calc(100% - 3.2rem);
  margin: 0 auto;
}

@media (min-width: 576px) {
  .wrapper {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .wrapper {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .wrapper {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .wrapper {
    width: 1320px;
  }
}
.btn {
  position: relative;
  padding: 0.5em 1em;
  background: transparent;
  border-radius: 50%;
}
.btn__solid, .btn__solid-gradient, .btn__border, .btn__border-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff3450;
  border-radius: 50%;
  transition: filter 0.6s;
}
.btn__solid::before, .btn__solid-gradient::before, .btn__border::before, .btn__border-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  background: #ff3450 border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
          mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}
.btn__solid:hover, .btn__solid-gradient:hover, .btn__border:hover, .btn__border-gradient:hover {
  filter: brightness(0.7);
}
.btn__border {
  background: transparent;
}
.btn__solid-gradient {
  background: transparent;
}
.btn__solid-gradient::before {
  background: linear-gradient(45deg, #881424, #ff3450) border-box;
  -webkit-mask-composite: source-over;
          mask-composite: add;
}
.btn__border-gradient {
  background: transparent;
}
.btn__border-gradient::before {
  background: linear-gradient(45deg, #881424, #ff3450) border-box;
}
.btn__text {
  position: relative;
  color: #fff;
  pointer-events: none;
}

.text-box {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .text-box {
    width: 75%;
  }
}
.text__sm {
  font-size: 1.4rem;
  font-weight: 300;
}
.text__md {
  font-size: 1.6rem;
  font-weight: 400;
}
.text__lg {
  font-size: 1.75rem;
  font-weight: 600;
}
.text__xl {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: -0.2rem;
  line-height: 1.2em;
}
.text__gradient-1 {
  background: linear-gradient(to right, #213b8f 0%, #ff4134 40%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text__gradient-2 {
  background: linear-gradient(to right, #ff657a 0%, #ffdfe3 75%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 576px) {
  .text__sm {
    font-size: 1.5rem;
  }
  .text__md {
    font-size: 1.8rem;
  }
  .text__lg {
    font-size: 2.5rem;
  }
  .text__xl {
    font-size: 4.25rem;
  }
}
@media (min-width: 768px) {
  .text__sm {
    font-size: 1.6rem;
  }
  .text__md {
    font-size: 2rem;
  }
  .text__lg {
    font-size: 2.75rem;
  }
  .text__xl {
    font-size: 5.5rem;
  }
}
@media (min-width: 992px) {
  .text__lg {
    font-size: 3rem;
  }
  .text__xl {
    font-size: 7rem;
  }
}
@media (min-width: 1200px) {
  .text__xl {
    font-size: 7.5rem;
  }
}
.icon-box {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.25em;
}
.icon-box__text {
  gap: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: #fff;
  font-size: 1.6rem;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;
}

input,
button,
textarea,
select {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

button {
  border: none;
  font-size: inherit;
  cursor: pointer;
}

html {
  scroll-padding-top: calc(7.5em + 100px);
}

body {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #151515;
}

.disable-scroll {
  overflow: hidden;
}

.nav-desktop {
  display: none;
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-mask-image: linear-gradient(to top, transparent, black 12.5%);
          mask-image: linear-gradient(to top, transparent, black 12.5%);
  transition: background-color 0.3s, -webkit-backdrop-filter 0.3s;
  transition: background-color 0.3s, backdrop-filter 0.3s;
  transition: background-color 0.3s, backdrop-filter 0.3s, -webkit-backdrop-filter 0.3s;
}
.nav-desktop--bg-active {
  background-color: rgba(16, 16, 16, 0.75);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.nav-desktop__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.nav-desktop__logo {
  transition: filter 0.3s;
}
.nav-desktop__logo img {
  height: 50px;
}
.nav-desktop__logo:hover {
  filter: brightness(1.2);
}
.nav-desktop__item-box {
  display: flex;
  align-items: center;
  gap: 2em;
}
.nav-desktop__item {
  font-size: 2rem;
  transition: color 0.3s;
}
.nav-desktop__item:hover {
  color: #ff3450;
}
.nav-desktop__item--active {
  color: #ff9daa;
}
.nav-desktop__contact-box {
  display: flex;
  gap: 0.5em;
  transition: color 0.3s;
}
.nav-desktop__contact-box svg {
  color: #ff3450;
}
.nav-desktop__contact-box span {
  font-size: 2rem;
}
.nav-desktop__contact-box:hover {
  color: #ff3450;
}

@media (min-width: 992px) {
  .nav-desktop {
    display: block;
  }
}
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover .hamburger-inner,
.hamburger:hover .hamburger-inner::before,
.hamburger:hover .hamburger-inner::after {
  background-color: #ff3450;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  transition: background-color 0.3s;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.nav-mobile {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 0.3s, -webkit-backdrop-filter 0.3s;
  transition: background-color 0.3s, backdrop-filter 0.3s;
  transition: background-color 0.3s, backdrop-filter 0.3s, -webkit-backdrop-filter 0.3s;
}
.nav-mobile--active {
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
}
.nav-mobile--bg-active {
  background-color: rgba(16, 16, 16, 0.75);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.nav-mobile__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.nav-mobile__logo {
  transition: filter 0.3s;
}
.nav-mobile__logo img {
  height: 50px;
}
.nav-mobile__logo:hover {
  filter: brightness(1.2);
}
.nav-mobile__menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.75em;
  gap: 1em;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height 0.3s, opacity 0.3s;
}
.nav-mobile__menu--active {
  height: calc(100vh - 92px);
  opacity: 1;
}
.nav-mobile__menu-item {
  position: relative;
  width: 85%;
  display: flex;
  align-items: center;
  gap: 1em;
  transition: color 0.3s;
}
.nav-mobile__menu-item svg {
  color: #ff3450;
}
.nav-mobile__menu-item span {
  font-size: 2.25rem;
  font-size: 4rem;
}
.nav-mobile__menu-item--contact-box {
  display: flex;
  gap: 0.5em;
  transition: color 0.3s;
}
.nav-mobile__menu-item:hover {
  color: #ff3450;
}

@media (min-width: 576px) {
  .nav-mobile {
    -webkit-mask-image: linear-gradient(to top, transparent, black 12.5%);
            mask-image: linear-gradient(to top, transparent, black 12.5%);
  }
  .nav-mobile--active {
    -webkit-mask-image: none;
            mask-image: none;
  }
}
@media (min-width: 992px) {
  .nav-mobile {
    display: none;
  }
}
.footer {
  background-color: #121212;
  border-top: 1px solid gray;
}
.footer__upper-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer__link-box {
  grid-column: 1/-1;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 1em;
}
.footer__link {
  transition: color 0.3s;
  text-wrap: nowrap;
}
.footer__link:hover {
  color: #ff3450;
}
.footer__link-dot {
  color: #ff3450;
}
.footer__info-box {
  grid-column: 1/-1;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  gap: 0.5em;
}
.footer__info-item {
  display: flex;
  gap: 0.5em;
}
.footer__info-item--link {
  transition: color 0.3s;
}
.footer__info-item--link:hover {
  color: #ff3450;
}
.footer__info-item svg {
  color: #ff3450;
}
.footer__bottom-box {
  padding: 1em 0;
  text-align: center;
  text-wrap: balance;
}
.footer__bottom-box .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
}
.footer__text-author {
  transition: filter 0.3s;
  text-decoration: underline;
}
.footer__text-author:hover {
  filter: brightness(0.7);
}

@media (min-width: 576px) {
  .footer__link-box {
    gap: 1em;
  }
}
@media (min-width: 992px) {
  .footer__link-box {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .footer__info-box {
    grid-column: 1/2;
    grid-row: 1/2;
    align-items: start;
  }
}
.example {
  margin: 15em 0;
  height: 50vh;
}

.header {
  position: relative;
  height: 85vh;
  background-image: url("../img/header/md.png");
  background-position: left;
  background-size: cover;
  background-attachment: fixed;
}
.header__box {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.header__item-box {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.header__item-box h1 {
  text-wrap: balance;
}
.header__text-box {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.header__icon-box {
  display: flex;
  gap: 0.5em;
  align-self: center;
  transition: color 0.3s;
}
.header__icon-box svg {
  color: #ff3450;
}
.header__icon-box:hover {
  color: #ff3450;
}
.header__reviews-box {
  border: 1px solid red;
  align-self: center;
  margin-top: 5em;
  width: 50%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, 1fr);
  -moz-column-gap: 1em;
       column-gap: 1em;
  pointer-events: none;
}
.header__reviews-box .rating {
  border: 1px solid blue;
  grid-column: 2/-1;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
}
.header__reviews-box .rating__background {
  fill: gray;
  stroke: red;
  stroke-width: 1;
  height: 100%;
  width: 100%;
}
.header__reviews-box .rating__value {
  fill: #ffb94b;
  height: 100%;
}
.header__rating-number {
  grid-column: 1/2;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
}
.header__rating-text {
  border: 1px solid green;
  grid-column: 2/-1;
  grid-row: 2/3;
  align-self: center;
  justify-self: center;
}

@media (min-width: 768px) {
  .header {
    background-image: url("../img/header/lg.png");
  }
  .header__box {
    text-align: left;
  }
  .header__icon-box {
    align-self: flex-start;
  }
  .header__reviews-box {
    align-self: flex-end;
  }
}
@media (min-width: 992px) {
  .header {
    background-image: url("../img/header/xl.png");
    background-position: bottom;
  }
  .header__box {
    position: absolute;
    top: 55%;
    left: 10%;
    transform: translate(0, -50%);
    width: 70%;
  }
  .header__reviews-box {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
@media (min-width: 1200px) {
  .header__box {
    width: 60%;
  }
}
@media (min-width: 1400px) {
  .header__box {
    width: 50%;
  }
}
.about-us {
  margin: 7.5em 0 15em 0;
}

.menu {
  margin: 15em 0;
}

.promos {
  margin: 15em 0;
}

.gallery {
  margin: 15em 0;
}

.reach-us {
  margin: 15em 0 7.5em 0;
}
.reach-us .wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.reach-us .text-box {
  text-align: center;
}
.reach-us__map {
  width: 100%;
  padding: 3px;
  background-image: linear-gradient(145deg, #213b8f 0%, #ff4134 100%);
  border-radius: 6px;
}

@media (min-width: 992px) {
  .reach-us .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .reach-us .text-box {
    text-align: left;
    grid-column: 1/2;
  }
  .reach-us__map {
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    padding: 3px;
    background-image: linear-gradient(145deg, #213b8f 0%, #ff4134 100%);
    border-radius: 6px;
  }
}/*# sourceMappingURL=main.css.map */