@use "./variables" as *;

// ===========================================================================
// Custom Icon Box
// ===========================================================================

.icon-box {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0.25em;

	&__text {
		gap: 0;
	}
}
